.venv
.env
venv

settings-me.yaml

.ruff_cache
.pytest_cache
.mypy_cache

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# unit tests / coverage reports
/tests-results.xml
/.coverage
/coverage.xml
/htmlcov/

# pyenv
/.python-version

# IDE
.idea/
.vscode/
/.run/
.fleet/

# macOS
.DS_Store

# Local data (index files, etc.)
local_data/
Data/

*.pdf
*.doc
*.docx

*.png
*.csv
*.xlsx
*.xls
*.md

marker_test
media
root

logs

.env